*.psd filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.csv filter=lfs diff=lfs merge=lfs -text
dataset/town2_dataset/*.png filter=lfs diff=lfs merge=lfs -text
dataset/town7_dataset/*.png filter=lfs diff=lfs merge=lfs -text
dataset/town2_dataset/*.csv filter=lfs diff=lfs merge=lfs -text
dataset/town7_dataset/*.csv filter=lfs diff=lfs merge=lfs -text
