# Ignore virtual environments
venv/   
venv-project/   

# Byte-compilation and other optimizations
__pycache__/

# Ignore the run
runs/

# Ignore the tox environment
.tox/

# Ignore .ini files
*.ini

# cache files
.cache/

#temp ignore town10_dataset folder
dataset/town10_dataset/
dataset/Town06_dataset/

# Ignore the .vscode folder
.vscode/

# Ignore the settings file
settings.json